APP_SOURCES/01min_Vacation/.gradle/
APP_SOURCES/01min_Vacation/.idea/
APP_SOURCES/01min_Vacation/*/build/
APP_SOURCES/01min_Vacation/local.properties
APP_SOURCES/01min_Vacation/.signing
APP_SOURCES/01min_Vacation/*.iml
APP_SOURCES/01min_Vacation.Trashes

.idea/

